@import "../../index";

.radio-button {
  position: absolute;
  left: -9999em;
  top: -9999em;

  & + label {
    float: left;
    padding: 4px 15px;
    cursor: pointer;
    border: 1px solid darken(#008000, 10%);
    margin-right: -1px;
    color: #fff;
    background-color: green;

    &:first-of-type {
      border-radius: $input-border-radius 0 0 $input-border-radius;
    }

    &:last-of-type {
      border-radius: 0 $input-border-radius $input-border-radius 0;
    }
  }

  &:checked + label {
    background-color: darken(#008000, 5%);
  }
}