@import "../../index";

$size: 150px;

.control {
  background: $white-800;
  border: solid $size * 0.02 #ccc;
  border-radius: 50%;
  min-height: $size;
  min-width: $size;
  max-height: $size;
  max-width: $size;
  padding: $size * 0.2;
}

.compass {
  background: $white-700;
  position: relative;
  border: solid $size * 0.02 #ccc;
  border-radius: 50%;
  min-height: $size * 0.6;
  min-width: $size * 0.6;
  left: -$size * 0.02;
  top: -$size * 0.02;

  input[type=radio] {
    position: absolute;
    width: $size * 0.12;
    height: $size * 0.12;
    left: calc(50% - #{$size} * 0.057);
    top: calc(50% - #{$size} * 0.057);

    &:before {
      position: relative;
      border-bottom: solid $size * 0.15 currentColor;
      border-left: solid $size * 0.1 transparent;
      border-right: solid $size * 0.1 transparent;
      left: - $size * 0.04;
      top: - $size * 0.3;
      opacity: .25;
      content: "";
    }

    &:checked:before {
      opacity: .6;
    }
  }

  .selected-direction {
    font-size: $size * 0.12;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    position: absolute;
    top: $size * 0.21;
    bottom: $size * 0.21;
    left: $size * 0.1;
    right: $size * 0.1;
    text-align: center;
  }
}