<template>
  <article class="builder">
    <h2>Creature</h2>
    <input type="text" v-model="arrangement.creature"/>
    <h2>Coalition</h2>
    <input type="text" v-model="arrangement.coalition"/>
    <h2>Position</h2>
    <div class="property-list">
      <dl>
        <dt>X</dt>
        <dd><input type="number" v-model.number="arrangement.x"/></dd>
      </dl>
      <dl>
        <dt>Y</dt>
        <dd><input type="number" v-model.number="arrangement.y"/></dd>
      </dl>
    </div>
  </article>
</template>

<script>
export default {
  name: "ArrangementBuilder",
  props: {
    arrangement: Object,
  },
}
</script>

<style scoped lang="scss">
@import "../../index";

.property-list {
  display: flex;
  flex-direction: column;

  > dl {
    flex: 1;
    min-width: 50px;
    display: flex;
    flex-direction: row;

    > dt {
      flex: 0;
      border-radius: 5px;
      background: $white-900;
      font-weight: 600;
      padding: 5px 10px;
      margin: 5px 10px;
      line-height: 150%;
    }

    > dd {
      display: flex;
      flex: 1 1 0;
      min-width: 50px;

      > input {
        flex: 1 1 0;
        min-width: 50px;
      }
    }
  }
}
</style>