<template>
  <article class="builder">
    <h2>File name</h2>
    <input type="text" :value="file.name" readonly/>
    <h2>Preview</h2>
    <img :src="fileData" alt="">
  </article>
</template>

<script>
export default {
  name: "AssetBuilder",
  props: {
    file: File
  },
  data() {
    return {
      fileData: ""
    }
  },
  mounted() {
    this.previewAsset()
  },
  updated() {
    this.previewAsset()
  },
  methods: {
    previewAsset() {
      const reader = new FileReader()
      reader.onload = () => {
        this.fileData = reader.result
      }
      reader.readAsDataURL(this.file)
    }
  }
}
</script>

<style scoped>
img {
  object-fit: contain;
}
</style>