<template>
  <article class="builder">
    <h2>Name</h2>
    <input type="text" v-model="coalition.name"/>
    <h2>Color</h2>
    <input type="text" v-model="coalition.color"/>
    <h2>Theme</h2>
    <input type="text" v-model="coalition.theme"/>
    <h2>Start direction</h2>
    <div class="control">
      <div class="compass">
        <input v-for="(direction, i) in directions" :key="i"
               type="radio" name="direction" :value="direction"
               :checked="coalition.startDirection === direction"
               @change="coalition.startDirection = direction"
               :style="{
               transform: `
                 rotate(${i * (360 / directions.length)}deg)
                 translateY(-30px)
               `}">
        <span class="selected-direction">{{ coalition.startDirection }}</span>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  name: "CoalitionBuilder",
  props: {
    coalition: Object,
  },
  data() {
    return {
      directions: ['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW'],
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/compass/compass.scss";
</style>