<template>
  <article class="builder">
    <h2>Name</h2>
    <input type="text" v-model="creature.name"/>
    <h2>Allowed movements</h2>
    <div class="property-list">
      <dl>
        <dt>Target place</dt>
        <dd>
          <template v-for="(target, i) in targets">
            <input type="radio" class="radio-button"
                   name="target" :id="`r-target-${i}`"
                   :checked="target === selectedMovement.target"
                   @change="selectedMovement.target = targets[i]">
            <label :for="`r-target-${i}`">{{ target }}</label>
          </template>
        </dd>
      </dl>
      <hr>
      <dl v-if="selectedPiece">
        <dt>
          <span>Direction</span>
        </dt>
        <dd class="control">
          <div class="compass">
            <input v-for="(dir, i) in directions" :key="i"
                   type="radio" name="direction" :value="dir"
                   :checked="selectedPiece.startsWith(dir)"
                   @change="selectedPiece = selectedPiece.replace(/\w+/, dir)"
                   :style="{
                     transform: `
                       rotate(${i * (360 / directions.length)}deg)
                       translateY(-30px)
                     `
                   }">
            <span class="selected-direction">{{ selectedPiece.replace(/[^\w]/, '') }}</span>
          </div>
        </dd>
      </dl>
      <dl v-if="selectedPiece">
        <dt>Limit</dt>
        <dd>
          <input type="radio" class="radio-button"
                 name="limit" id="r-limit-1"
                 :checked="selectedPiece && selectedPiece.slice(-1) !==  '+'"
                 @change="selectedPiece = selectedPiece.replace('+', '')">
          <label for="r-limit-1">1 cell</label>
          <input type="radio" class="radio-button"
                 name="limit" id="r-limit-2"
                 :checked="selectedPiece && selectedPiece.slice(-1) === '+'"
                 @change="selectedPiece += '+'">
          <label for="r-limit-2">None</label>
        </dd>
      </dl>
    </div>
    <ul>
      <li v-for="(path, pathIndex) in selectedMovement.paths" :key="pathIndex">
        <ul>
          <li v-for="(piece, pieceIndex) in path.split(' ')">
            <span>{{ piece }}</span>
            <button class="square-button"
                    @click="onClickEditPiece(pathIndex, pieceIndex)">
              <i class="fa fa-pencil"/>
            </button>
            <button class="square-button"
                    @click="onClickRemovePiece(pathIndex, pieceIndex)">
              <i class="fa fa-close"/>
            </button>
          </li>
          <li class="square-button"
              @click="selectedPath += ` ${selectedPiece}`">
            <i class="fa fa-plus"/>
          </li>
        </ul>
        <button class="square-button"
                @click="selectedPathIndex = pathIndex">
          <i class="fa fa-pencil"/>
        </button>
        <button class="square-button"
                @click="selectedMovement.paths.splice(pathIndex, 1)">
          <i class="fa fa-close"/>
        </button>
      </li>
      <li class="square-button"
          @click="selectedMovement.paths.push('N')">
        <i class="fa fa-plus"/>
      </li>
    </ul>
    <button class="btn btn-primary square-button" @click="onClickAdd">
      Add movement
    </button>
    <br>
    <ul style="flex-direction: column;">
      <li v-for="(movement, i) in creature.movements" :key="i" style="flex: 1">
        <span>{{ movementDescription(movement) }}</span>
        <button class="btn square-button"
                @click="selectedMovement = movement">
          <i class="fa fa-pencil"/>
        </button>
        <button class="btn square-button"
                @click="creature.movements.splice(i, 1)">
          <i class="fa fa-close"/>
        </button>
      </li>
    </ul>
  </article>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import {commaListsOr} from 'common-tags'

const defaultMovement = {
  target: "Any",
  paths: ['N']
}

export default defineComponent({
  name: "CreatureBuilder",
  props: {
    creature: Object,
  },
  data() {
    return {
      targets: ["Any", "Enemy", "Empty"],
      directions: ['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW'],
      //
      selectedMovement: defaultMovement,
      selectedPathIndex: 0,
      selectedPieceIndex: 0,
    }
  },
  computed: {
    selectedPath: {
      get() {
        if (this.selectedMovement
            && this.selectedPathIndex < this.selectedMovement.paths.length) {
          return this.selectedMovement.paths[this.selectedPathIndex]
        } else {
          return null
        }
      },
      set(value) {
        this.selectedMovement.paths[this.selectedPathIndex] = value
      }
    },
    selectedPiece: {
      get() {
        if (this.selectedPath
            && this.selectedPieceIndex < this.selectedPath.split(' ').length) {
          return this.selectedPath.split(' ')[this.selectedPieceIndex]
        } else {
          return null
        }
      },
      set(value) {
        const dirs = this.selectedPath.split(' ')
        dirs[this.selectedPieceIndex] = value
        this.selectedPath = dirs.join(' ')
      }
    }
  },
  methods: {
    movementDescription(movement) {
      return commaListsOr`Go [${movement.paths}] to [${movement.target}] cell`
    },
    onClickEditPiece(pathIndex, pieceIndex) {
      [this.selectedPathIndex, this.selectedPieceIndex] = [pathIndex, pieceIndex]
    },
    onClickRemovePiece(pathIndex, pieceIndex) {
      this.selectedPath = this.selectedPath.split(' ').splice(pieceIndex, 1).join(' ')
      this.selectedPieceIndex = this.selectedPath.split(' ').length
      if (this.selectedPieceIndex == 1) {
        this.selectedPathIndex = this.selectedMovement.paths.length
      }
    },
    onClickAdd() {
      this.creature.movements.push(JSON.parse(JSON.stringify(this.selectedMovement)))
      this.selectedMovement = defaultMovement
    },
  }
})
</script>

<style scoped lang="scss">
@import "../../index";
@import "../../styles/compass/compass";

.property-list {
  display: flex;
  flex-direction: column;

  > * {
    margin: 5px 0;
  }

  > dl {
    flex: 1;
    min-width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > dt {
      display: flex;
      margin: 5px 0;
      flex-direction: column;
      background: $white-900;
      border-radius: 5px;
      font-weight: 600;
      padding: 5px 10px;
      line-height: 150%;
    }
  }
}

.square-button {
  padding: 5px 7px 3px 7px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  border-radius: 5px;
  background: $white-900;
  font-weight: 600;
  padding: 5px;
  margin: 10px 0;
  text-align: center;
  line-height: 150%;

  > span {
    min-width: 30px;
    flex: 1;
  }

  > button {
    margin-left: 3px;
    width: 30px;
  }
}

li li {
  background: $white-800;
  margin: 0 5px;
}

</style>