<template>
  <article class="builder">
    <div class="property-list indented">
      <dl>
        <dt>Name</dt>
        <dd>
          <input type="text" v-model="main.name"/>
        </dd>
      </dl>
      <dl>
        <dt>Visibility</dt>
        <dd>
          <input type="radio" name="visibility" id="rb1"
                 value="Public" v-model="main.visibility"
                 class="radio-button" checked/>
          <label for="rb1">Public</label>
          <input type="radio" name="visibility" id="rb2"
                 value="Private" v-model="main.visibility"
                 class="radio-button"/>
          <label for="rb2">Private</label>
        </dd>
      </dl>
      <dl>
        <dt>Link</dt>
        <dd>
          <input type="text" v-model="main.link"/>
        </dd>
      </dl>
      <button class="square-button btn btn-primary" @click="$emit('save')">
        <i class="fas fa-save"></i>
      </button>
      <button class="square-button btn btn-primary" @click="$emit('download')">
        <i class="fas fa-download"></i>
      </button>
    </div>
  </article>
</template>

<script>
export default {
  name: "MainBuilder",
  props: {
    main: Object
  },
}
</script>

<style scoped lang="scss">
@import "../../index";

.property-list {
  display: flex;
  flex-direction: column;

  > * {
    margin: 5px 0;
  }

  > dl {
    flex: 1;
    min-width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > dt {
      display: flex;
      margin: 5px 0;
      flex-direction: column;
      background: $white-900;
      border-radius: 5px;
      font-weight: 600;
      padding: 5px 10px;
      line-height: 150%;
    }
  }
}

.square-button {
  padding: 5px 7px 3px 7px;
}

</style>