<template>
  <article class="builder">
    <h2>Name</h2>
    <input type="text" v-model="map.name"/>
    <h2>Dimensions</h2>
    <div class="property-list">
      <dl>
        <dt>X</dt>
        <dd><input type="number" v-model.number="map.dimensions.x"/></dd>
      </dl>
      <dl>
        <dt>Y</dt>
        <dd><input type="number" v-model.number="map.dimensions.y"/></dd>
      </dl>
      <dl>
        <dt>Z</dt>
        <dd><input type="number" v-model.number="map.dimensions.z"/></dd>
      </dl>
    </div>
    <h2>Formula</h2>
    <prism-editor
        class="formula-editor"
        v-model="editorCode"
        :highlight="highlighter"
        line-numbers/>
  </article>
</template>

<script>
import "vue-prism-editor/dist/prismeditor.min.css";
import "../../styles/prism/prism-coldark-cold.css";
import {PrismEditor} from "vue-prism-editor";
import {defineComponent, ref} from "vue";
import prism from "prismjs";

export default defineComponent({
  name: "MapBuilder",
  components: {
    PrismEditor
  },
  props: {
    map: Object,
  },
  data() {
    const editorCode = ref(this.map.formula)
    const highlighter = (code) => {
      return prism.highlight(code, prism.languages.js);
    }
    return {editorCode, highlighter}
  }
})
</script>

<style scoped lang="scss">
@import "../../index";

.formula-editor {
  flex: 1;
  border-radius: $input-border-radius;
  margin: 10px 0;
  min-height: 300px;

  background: $white-800;
  color: #ccc;

  font-family: Iosevka, "Fira code", "Fira Mono", Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
}

.property-list {
  display: flex;
  flex-direction: column;

  > dl {
    flex: 1;
    min-width: 50px;
    display: flex;
    flex-direction: row;

    > dt {
      flex: 0;
      border-radius: 5px;
      background: $white-900;
      font-weight: 600;
      padding: 5px 10px;
      margin: 5px 10px;
      line-height: 150%;
    }

    > dd {
      display: flex;
      flex: 1 1 0;
      min-width: 50px;

      > input {
        flex: 1 1 0;
        min-width: 50px;
      }
    }
  }
}

@media (min-width: 700px) {
  .property-list {
    flex-direction: row;
  }
}

</style>