<template>
  <main>
    <h1>About Page</h1>
    <Cube :size="100"></Cube>
  </main>
</template>

<script>
import Cube from "../components/Cube/Cube.vue";

export default {
  name: "Explore",
  components: {
    Cube
  }
}
</script>