<template>
  <main>
    <section class="container" ref="container">
      <div class="form-container sign-up-container">
        <form>
          <h1>Create Account</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-google"/></a>
          </div>
          <span>or use your email for registration</span>
          <input type="text"
                 placeholder="Name"
                 v-model="username"/>
          <input type="email"
                 autocomplete="username"
                 placeholder="Email"
                 v-model="email"/>
          <input type="password"
                 autocomplete="current-password"
                 placeholder="Password"
                 v-model="password"/>
          <button type="button" class="btn btn-primary"
                  @click="onClickSignUp">
            Sign up
          </button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form>
          <h1>Sign in</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-google"/></a>
          </div>
          <span>or use your account</span>
          <input type="text"
                 autocomplete="username"
                 placeholder="Email or username"
                 v-model="username"/>
          <input type="password"
                 autocomplete="current-password"
                 placeholder="Password"
                 v-model="password"/>
          <a href="#">Forgot your password?</a>
          <button type="button" class="btn btn-primary"
                  @click="onClickSignIn">
            Sign in
          </button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Hello!</h1>
            <p>Already have an account?</p>
            <button class="btn" id="signIn" @click="onClickSignInToggle">
              Sign in
            </button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Welcome Back!</h1>
            <p>Don't have an account?</p>
            <button class="btn" id="signUp" @click="onClickSignUpToggle">
              Sign up
            </button>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  name: "Join",
  data() {
    return {
      username: "",
      email: "",
      password: "",
    }
  },
  methods: {
    onClickSignIn() {
      this.$store.dispatch("login", {
        username: this.username,
        password: this.password
      }).then(res => {
        if (res.status === 201) {
          this.$router.push({path: "/explore"})
        }
      }).catch(err => {
        if (err.message.includes('401')) {
          alert('Invalid username or password.')
        } else {
          alert(err.message)
        }
      })
    },
    onClickSignUp() {
      this.$store.dispatch("join", {
        username: this.username,
        email: this.email,
        password: this.password
      }).then(res => {
        alert("You've been registered.")
      }).catch(err => {
        alert(JSON.stringify(err))
      })
    },
    onClickSignInToggle() {
      this.$refs.container.classList.remove("right-panel-active")
    },
    onClickSignUpToggle() {
      this.$refs.container.classList.add("right-panel-active")
    }
  }
}
</script>

<style scoped lang="sass">
h1
  font-weight: bold
  margin: 0

h2
  text-align: center

p
  font-size: 14px
  font-weight: 100
  line-height: 20px
  margin: 20px 0 30px

span
  font-size: 12px

a
  color: #333
  font-size: 14px
  text-decoration: none
  margin: 15px 0

.btn
  color: white

main
  padding-top: 25vh
  display: flex
  justify-content: center
  align-items: center

form
  background-color: white
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  height: 100%
  text-align: center

input[type=text], input[type=email], input[type=password]
  padding: 12px 15px

.container
  background-color: white
  border-radius: 10px
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
  position: relative
  overflow: hidden
  width: 768px
  max-width: 95%
  min-height: 450px

.form-container
  position: absolute
  top: 0
  height: 100%
  transition: all 0.6s ease-in-out

.sign-in-container
  left: 0
  width: 50%
  z-index: 2

.container.right-panel-active .sign-in-container
  transform: translateX(100%)

.sign-up-container
  left: 0
  width: 50%
  opacity: 0
  z-index: 1

.container.right-panel-active .sign-up-container
  transform: translateX(100%)
  opacity: 1
  z-index: 5
  animation: show 0.6s

@keyframes show
  0%, 49.99%
    opacity: 0
    z-index: 1

  50%, 100%
    opacity: 1
    z-index: 5

.overlay-container
  position: absolute
  top: 0
  left: 50%
  width: 50%
  height: 100%
  overflow: hidden
  transition: transform 0.6s ease-in-out
  z-index: 6

.container.right-panel-active .overlay-container
  transform: translateX(-100%)

.overlay
  background: #040404
  color: white
  position: relative
  left: -100%
  height: 100%
  width: 200%
  transform: translateX(0)
  transition: transform 0.6s ease-in-out

.container.right-panel-active .overlay
  transform: translateX(50%)

.overlay-panel
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  padding: 0 20px
  text-align: center
  top: 0
  height: 100%
  width: 50%
  transform: translateX(0)
  transition: transform 0.6s ease-in-out

.overlay-left
  transform: translateX(-20%)

.container.right-panel-active .overlay-left
  transform: translateX(0)

.overlay-right
  right: 0
  transform: translateX(0)

.container.right-panel-active .overlay-right
  transform: translateX(20%)

.social-container
  margin: 20px 0

.social-container a
  border: 1px solid #DDDDDD
  border-radius: 50%
  display: inline-flex
  justify-content: center
  align-items: center
  margin: 0 5px
  height: 40px
  width: 40px
</style>