<template>
  <main>
    <sidebar-menu :items="primarySidebar" :width-expanded="170" :background="'#040404'">
      <template #default="sb">
        <div class="sidebar-item">
          <i :class="['highlight', 'primary-icon', 'fas', sb.item.faIcon]"
             @click="onClickPrimarySidebarItem(sb.item, sb.index)"/>
          <span class="highlight title" @click="onClickPrimarySidebarItem(sb.item, sb.index)">
            {{ sb.item.title }}
          </span>
        </div>
      </template>
    </sidebar-menu>
    <sidebar-menu
        v-if="secondarySidebar"
        :items="secondarySidebar"
        :width-expanded="230"
        :background="'#151515'">
      <template #default="sb">
        <div class="sidebar-item" @click="onClickSecondarySidebarItem(sb.item, sb.index)">
          <template v-if="sb.item.name">
            <i :class="['highlight', 'primary-icon', 'fas', getIconFor(primarySelection)]"/>
            <span class="highlight title">{{ sb.item.name }}</span>
          </template>
          <template v-else-if="areKeysIntersect(sb.item, {title: 0})">
            <i :class="['highlight', 'primary-icon', 'fas', sb.item.faIcon]"/>
            <span class="highlight title">{{ sb.item.title }}</span>
          </template>
          <template v-else-if="areKeysIntersect(sb.item, defaultArrangement)">
            <i class="highlight primary-icon fas fa-arrows-alt"/>
            <span class="highlight title">
              {{ sb.item.coalition }}<br>
              {{ sb.item.creature }}<br>
              @ {{ sb.item.x }}, {{ sb.item.y }}
            </span>
          </template>
          <div v-html="sb.item.template" style="display: inline;"/>
        </div>
      </template>
    </sidebar-menu>
    <v-switch :value="primarySelection" v-if="builder">
      <template #main>
        <main-builder v-model:main="builder"
                      @save="onClickSettingSave"
                      @download="onClickSettingDownload"/>
      </template>
      <template #maps>
        <map-builder v-model:map="builder"/>
      </template>
      <template #coalitions>
        <coalition-builder v-model:coalition="builder"/>
      </template>
      <template #creatures>
        <creature-builder v-model:creature="builder"/>
      </template>
      <template #arrangement>
        <arrangement-builder v-model:arrangement="builder"/>
      </template>
      <template #assets>
        <asset-builder v-model:file="builder"/>
      </template>
    </v-switch>
    <!-- Hidden; needed for assets selection -->
    <input id="file-input"
           type="file"
           accept="image/png"
           name="name"
           style="display: none;"/>
  </main>
</template>

<script>
import {defineComponent} from "vue"

import VSwitch from "../components/v-switch.vue"
import SidebarMenu from "../components/SidebarMenu/SidebarMenu.vue"

import MainBuilder from "../components/Builders/MainBuilder.vue"
import MapBuilder from "../components/Builders/MapBuilder.vue"
import CreatureBuilder from "../components/Builders/CreatureBuilder.vue"
import CoalitionBuilder from "../components/Builders/CoalitionBuilder.vue"
import ArrangementBuilder from "../components/Builders/ArrangementBuilder.vue"
import AssetBuilder from "../components/Builders/AssetBuilder.vue"
import {exemplarySetting as defaultSetting, settingDefaults} from "../constants"

const uiProps = ["title", "faIcon"]

function uiPropsRemover(key, value) {
  return uiProps.includes(key) ? undefined : value;
}

export default defineComponent({
  name: "Sandbox",
  components: {
    VSwitch,
    SidebarMenu,
    MainBuilder,
    MapBuilder,
    CoalitionBuilder,
    CreatureBuilder,
    ArrangementBuilder,
    AssetBuilder
  },
  props: {
    initialSetting: {
      type: Object,
      default: defaultSetting
    },
  },
  data() {
    return {
      setting: this.initialSetting,
      primarySidebar: Object.keys(defaultSetting).map(k => {
        return {
          title: k.charAt(0).toUpperCase() + k.slice(1),
          faIcon: this.getIconFor(k.toLowerCase())
        }
      }),
      primarySelection: null,
      secondarySelection: null,
    }
  },
  methods: {
    getIconFor(name) {
      return {
        main: "fa-pencil-ruler",
        maps: "fa-map",
        coalitions: "fa-users",
        creatures: "fa-dragon",
        arrangement: "fa-arrows-alt",
        assets: "fa-icons"
      }[name.trim().toLowerCase()]
    },
    areKeysIntersect(a, b) {
      return Object.keys(b).every(k => Object.keys(a).includes(k))
    },
    onClickSettingSave() {
      console.log('save')
    },
    onClickSettingDownload() {
      console.log('download')
    },
    onClickPrimarySidebarItem(item, _) {
      if (item.title) {
        this.primarySelection = item.title.trim().toLowerCase()
      }
    },
    onClickSecondarySidebarItem(item, index) {
      if (this.primarySelection === 'assets' && index === 1) {
        const fi = document.getElementById('file-input')
        fi.onchange = e => {
          if (e.target) this.setting.assets.push(e.target.files[0])
        }
        fi.click()
      } else if (index === 0 && item.title.startsWith("Delete")) {
        this.setting[this.primarySelection] = this.setting[this.primarySelection].filter(
            v => v !== this.builder
        )
      } else if (index === 1 && item.title.startsWith("Add")) {
        this.setting[this.primarySelection].push(settingDefaults[this.primarySelection]())
      } else {
        this.secondarySelection = index
      }
    }
  },
  computed: {
    defaultArrangement: settingDefaults.arrangement,
    secondarySidebar() {
      if (this.primarySelection === 'main') return null
      const defaultItems = [{
        title: "Delete selected",
        faIcon: "fa-trash-alt",
      }, {
        title: "Add a new item",
        faIcon: "fa-plus",
      }]
      if (this.primarySelection) {
        return defaultItems.concat(this.setting[this.primarySelection])
      }
      return null
    },
    builder() {
      if (this.primarySelection === 'main') {
        return this.setting.main
      }
      if (this.secondarySelection !== null && this.secondarySidebar) {
        return this.secondarySidebar[this.secondarySelection]
      }
    }
  },
})
</script>

<style scoped lang="scss">
@import "../index";

main {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
}

span {
  font-weight: 600;
}

.builder {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar-item {
  color: $white-800;

  .primary-icon {
    cursor: pointer;
    width: calc(var(--width-collapsed) - 20px);
    font-size: calc(var(--width-collapsed) / 2);
    text-align: center;
    margin: 10px 0;
  }

  .primary-icon + .title {
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: -4px;
    margin-left: 15px
  }

  .highlight:hover {
    @include hover-text
  }
}

</style>
