<template>
  <container :size="size">
    <sides :size="size">
      <side rotate="rotateX(90deg)" :size="size"/>
      <side rotate="rotateX(-90deg)" :size="size"/>
      <side rotate="rotateY(0deg)" :size="size"/>
      <side rotate="rotateY(-180deg)" :size="size"/>
      <side rotate="rotateY(-90deg)" :size="size"/>
      <side rotate="rotateY(90deg)" :size="size"/>
    </sides>
  </container>
</template>

<script>
import {Container, Side, Sides} from './elements'

export default {
  name: "Cube",
  props: {
    size: Number,
  },
  components: {
    Container, Sides, Side
  }
}
</script>

<style scoped>

</style>