$sigma-v-spacing: 0.45em;
$sigma-h-spacing: 2.5em;
$sigma-border-radius: 0.2em;
$sigma-border-width: 1px;

@mixin btn-sigma($color, $text-color: darken($color, 18%)) {

  background-color: $color;
  color: $text-color;
  border-color: darken($color, 12%);

  box-shadow: 0 -4px 12px -1px rgba($color, 0.3), // outer glow
  0 1px 1px 0 rgba(0, 0, 0, 0.35), // bottom close shadow
  0 2px 6px 1px rgba(0, 0, 0, 0.3), // blur all around
  0 10px 6px -2px rgba(0, 0, 0, 0.25), // bottom shadow spread
  0 1px 0 0 rgba(255, 255, 255, 0.2) inset, // top light accent
  0 -2.5em 2em -1.5em rgba(0, 0, 0, 0.12) inset // large inner bottom shade
;

  &:hover {
    background-color: lighten($color, 2%);
  }

  &:active {
    background-color: darken($color, 5%);

    box-shadow: 0 -4px 12px -1px rgba($color, 0.2), // outer glow
    0 1px 1px 0 rgba(0, 0, 0, 0.3), // bottom close shadow
    0 2px 6px 1px rgba(0, 0, 0, 0.2), // blur all around
    0 8px 6px -2px rgba(0, 0, 0, 0.2), // bottom shadow spread
    0 -1px 0 0 rgba(255, 255, 255, 0.1) inset, // top light accent
    0 2.5em 2em -1.5em rgba(0, 0, 0, 0.12) inset // large inner bottom shade
  ;
  }

}

.btn {
  @include btn-common($sigma-v-spacing, $sigma-h-spacing, $sigma-border-radius, $sigma-border-width);
  transition: box-shadow 0.3s, background-color 0.3s;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2),
  0 1px 0 rgba(255, 255, 255, 0.2);

  &:active {
    transition-duration: 0.1s;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1),
    0 -1px 0 rgba(255, 255, 255, 0.1);
  }

}

.btn-primary {
  @include btn-sigma($color-primary);
}

.btn-secondary {
  @include btn-sigma($color-secondary);
}

.btn-tertiary {
  @include btn-sigma($color-tertiary);
}

.btn-tetrary {
  @include btn-sigma($color-tetrary);
}

.btn-black {
  @include btn-sigma($gray-darker);
}

.btn-dark {
  @include btn-sigma($gray-dark);
}

.btn-gray {
  @include btn-sigma($gray);
}

.btn-light {
  @include btn-sigma($gray-lighter, darken($gray-lighter, 45%));
}