<template>
  <aside ref="sidebar" class="sidebar" :style="sidebarStyle">
    <template v-for="(item, index) in items" :key="index">
      <slot :item="item" :index="index"/>
    </template>

    <span style="flex: 1" @click="toggleMenu"/>

    <article class="toggle-button" ref="toggleButton" @click="toggleMenu">
      <i :class="['primary-icon', 'fas', openIcon]"/>
    </article>
  </aside>
</template>

<script lang="ts">
export default {
  name: "SidebarMenu",
  props: {
    items: Array,
    left: {
      type: Boolean,
      default: true,
    },
    background: {
      type: String,
      required: true,
    },
    transitionSpeed: {
      type: Number,
      default: 0.2,
    },
    widthCollapsed: {
      type: Number,
      default: 50,
    },
    widthExpanded: {
      type: Number,
      default: 300,
    }
  },
  data() {
    return {
      openIcon: this.left ? "fa-chevron-right" : "fa-chevron-left",
      closeIcon: this.left ? "fa-chevron-left" : "fa-chevron-right"
    }
  },
  methods: {
    toggleMenu() {
      const sidebar = this.$refs.sidebar.classList
      const toggleButton = this.$refs.toggleButton.children[0].classList
      if (sidebar.contains("expanded")) {
        sidebar.remove("expanded")
        toggleButton.replace(this.closeIcon, this.openIcon)
      } else {
        sidebar.add("expanded")
        toggleButton.replace(this.openIcon, this.closeIcon)
      }
    }
  },
  computed: {
    sidebarStyle() {
      return {
        '--background': this.background,
        '--transition-speed': this.transitionSpeed + 's',
        '--width-collapsed': this.widthCollapsed + 'px',
        '--width-expanded': this.widthExpanded + 'px',
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../index";

.sidebar {
  height: 100%;
  width: var(--width-collapsed);
  transition: width var(--transition-speed);
  overflow: hidden auto;
  z-index: 1;
  white-space: nowrap;
  padding: 10px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.toggle-button {
  color: $white-800;

  .primary-icon {
    cursor: pointer;
    width: calc(var(--width-collapsed) - 20px);
    font-size: calc(var(--width-collapsed) / 2);
    text-align: center;
    margin: 10px 0;
  }
}

.expanded.sidebar {
  transition: width var(--transition-speed);
  width: var(--width-expanded);
}
</style>