<template>
  <li :class="[className, hasChildren ? 'menu-head' : '']"
      @click="onClickMenu"
      v-click-outside="onClickOutsideMenu">
    <component :is="hasChildren ? 'a' : 'router-link'" :to="route ?? '/'">
      <span v-html="label"/>
    </component>
    <ul v-if="hasChildren" :class="level ? 'menu' : 'first-menu'">
      <navigation-bar-item
          v-for="item in children"
          class="item"
          :class-name="item.className"
          :label="item.label"
          :route="item.route"
          :level="level + 1"
          :children="item.children"/>
    </ul>
  </li>
</template>

<script>
export default {
  name: "NavigationBarItem",
  props: {
    label: String,
    route: String,
    className: String,
    level: Number,
    children: Array,
  },
  methods: {
    onClickMenu() {
      const cl = this.$el.classList
      if (cl.contains("active")) {
        cl.remove("active");
      } else {
        cl.add("active");
      }
    },
    onClickOutsideMenu() {
      this.$el.classList.remove("active");
    }
  },
  computed: {
    hasChildren() {
      return this.children && this.children.length;
    }
  }
}
</script>

<style scoped lang="sass">
@import "../../index"

// Mobile
li > a
  display: block
  padding: 8px 10px

li.btn > a
  padding: 0

[class$="menu"]
  z-index: 100
  list-style-type: none
  background: $black-800
  box-shadow: 0 0 5px black
  border-radius: 5px
  display: none

  .active &
    display: block

.item:not(.btn) a:hover,
.item a:hover::after
  @include hover-text

  :not(.main-menu) > &
    background: $black-700

.item
  order: 3
  width: 100%
  font-weight: 500
  display: none

  .active &
    display: block

  &:first-child
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    overflow: hidden

  &:last-child
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    overflow: hidden

.menu-head
  cursor: pointer

.menu-head > a::after
  font-family: "Font Awesome 5 Free"
  font-size: 12px
  line-height: 16px
  font-weight: 900
  content: "\f078"
  color: white
  padding-left: 5px

.item.active > .menu
  display: block

.item.active > .first-menu
  display: block

.item > .menu
  display: none

.item > .first-menu
  display: none

// Desktop
@media all and (min-width: 700px)
  .active.item > .first-menu
    display: block
    position: absolute

  .active.item > .menu
    display: block
    position: absolute
    left: -100%
    top: 5px

  .item > .first-menu
    display: none
    position: absolute
    left: 0

  .item > .menu
    display: none
    position: absolute
    left: -90%
</style>

