<template>
  <header>
    <nav>
      <ul ref="menu" class="main-menu">
        <NavigationBarItem
            v-for="item of items ?? []"
            :class-name="item.className ?? 'item'"
            :label="item.label"
            :route="item.route"
            :level="0"
            :children="item.children ?? []"
        />
        <li class="toggle" @click="toggleMenu">
          <svg v-html="toggleIcon"
               width="19" height="16"
               viewBox="0 0 19 16"
               fill="none"
               xmlns="http://www.w3.org/2000/svg">
          </svg>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import NavigationBarItem from "./NavigationBarItem.vue"
import {toggleMenuClose, toggleMenuOpen} from "../icons";


export default {
  name: 'NavigationBar',
  components: {NavigationBarItem},
  props: {
    items: Array,
    toggleIconProp: {
      type: String,
      default: toggleMenuOpen
    }
  },
  methods: {
    toggleMenu() {
      const menu = this.$refs.menu.classList;
      if (menu.contains("active")) {
        menu.remove("active");
        this.toggleIcon = toggleMenuOpen;
      } else {
        menu.add("active");
        this.toggleIcon = toggleMenuClose;
      }
    },
  },
  data() {
    return {
      toggleIcon: this.toggleIconProp,
    }
  }
}
</script>

<style scoped lang="sass">
@import "../../index"

// Common
header
  z-index: 100
  position: fixed
  width: 100%

nav
  background: $black-900
  padding: $navbar-padding


// Mobile
.main-menu
  list-style-type: none
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  align-items: center

.logo
  flex: 1 1
  order: 0
  font-family: Satisfy, "Segoe UI", sans-serif
  font-size: 1.4em

.toggle
  order: 1
  padding: 10px

.btn
  order: 3
  text-align: center
  width: 100%
  display: none
  padding: 6px 10px

  .active &
    display: block


// Desktop
@media all and (min-width: 700px)
  .item
    position: relative
    display: block
    width: auto

  .btn
    position: relative
    display: block
    width: auto

  .toggle
    display: none
</style>
