<template>
  <navigation-bar :items="navigation"/>
  <router-view/>
</template>

<script>
import NavigationBar from "./components/NavigationBar/NavigationBar.vue";

export default {
  components: {NavigationBar},
  computed: {
    navigation() {
      return [
        {
          label: "Ches(sic!) public server",
          route: "/",
          className: "logo"
        }, {
          label: "Explore",
          route: "/explore",
        }, {
          label: "Sandbox",
          route: "/sandbox",
        }, {
          label: this.$store.getters.isLoggedIn
              ? "Logout"
              : "Join",
          route: this.$store.getters.isLoggedIn
              ? "/logout"
              : "/join",
          className: 'btn btn-primary'
        }
      ]
    }
  },
  created() {
    // axios.interceptors.response.use(
    //     res => {
    //       return res
    //     },
    //     err => new Promise(function (resolve, reject) {
    //           if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
    //             this.$store.dispatch(logout)
    //           }
    //           throw err;
    //         }
    //     )
    // )
  }
}
</script>