$black-900: #040404;
$black-800: #151515;
$black-700: #222222;

$white-900: #f5f5f5;
$white-800: #e8e8e8;
$white-700: #c1c1c1;
$white-600: #999999;

$navbar-padding: 5px;
$navbar-height: $navbar-padding + 53px;

$input-border-radius: 6px;


@mixin hover-text {
  color: $white-600;
  transition: 0.3s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

main {
  padding-top: $navbar-height;
  height: 100%;
  left: 0;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
  background-color: #eee;
  border: none;
  border-radius: $input-border-radius;
  padding: 6px 8px;
  margin: 8px 0;
}

#app {
  font-family: "Segoe UI", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}